  <div class="banner-articles">
    <div class="main-title">
      <h1>WATCHLIST</h1>
    </div>
  </div>

<div class= "container centered col-8 m-auto">
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>24hr change (%)</th>
        <%# <th>Graph</th> %>
        <%# <th>7 day chart</th> %>
      </tr>
    </thead>
    <tbody>
    <%@watchlists.each do |watchlist| %>
      <tr>
        <td>
          <%= link_to(image_tag(watchlist.crypto.image), crypto_path(watchlist.crypto),class: "crypto-image")%> <%=watchlist.crypto.name%>
        </td>
        <td>
          £<%=(watchlist.crypto.histories.last.price).round(2) %>
        </td>
        <td>
        <% if watchlist.crypto.previousdaypercentagechange.negative?() %>
        <div class = "red-font">
        <%= watchlist.crypto.previousdaypercentagechange %>
        </div>
        <% else %>
        <div class = "green-font">
        <%= watchlist.crypto.previousdaypercentagechange %>
        </div>
        <% end %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>
</div>
