<html>
  <body>
  <div class="banner-articles">
    <div class="main-title">
      <H1><b>DASHBOARD</b></H1>
    </div>
  </div>

<div class="main-container centered col-8 m-auto">
  <div class="dashboard-cards">
    <div class="dashboard-card">
      Holdings
      <p>Purchased Value: <br>£ <%= '%.2f' % @holdings.sum(&:purchased_price) %></p>
      <% if @holdings_value > @holdings.sum(&:purchased_price) %>
                            <p style='color: green'>Current Value: <br>£ <%= '%.2f' % @holdings_value %></p>
                          <% elsif @holdings_value < @holdings.sum(&:purchased_price) %>
                            <p style='color: red'>Current Value: <br>£ <%= '%.2f' % @holdings_value %></p>
                          <% else %>
                            <p>Current Value: <br>£ <%= '%.2f' % @holdings_value %></p>
                          <% end %>
    </div>

    <div class="dashboard-card" >
      Holding
    </div>
    <div class="dashboard-card" >
      balance
          £<%= '%.2f' % current_user.balance %>
    </div>
    <div class="dashboard-card">
      Graph
    </div>
    <div class="dashboard-card">
      Coin of the month
    </div>
    <div class="dashboard-card">
      recent purchase
    </div>
  </div>


  <div class="product-graph rounded">
    <%= line_chart @holding_record, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "400px" %>
  </div>
</div>
