  <%# <div class="dashboard-page center"> %>
  <div class="dashboard-main-container centered col-10 m-auto center">
    <% if current_user.holdings.exists? %>
    <div class="dashboard-cards-container">
      <div class="dashboard-row-first">
        <div class="dashboard-card-graph">
          <h2>PORTFOLIO PROGRESS</h2>
            <div class="">
    <%= line_chart @holding_record, library: { hAxis: { ticks: [], baselineColor: '#FFFFFF', gridlines: { count: 0, color: 'white' }, textPosition: 'none' } }, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "200px" %>
  </div>
        </div>
      <div class="dashboard-row-second">
            <div class="dashboard-small-cards">
              <h2>COIN OF THE DAY</h2>


              <p style="text-align: left;"> Today coin of the day is none other then  <a href="#" data-toggle="tooltip" title="Solana is a highly functional open source project that implements a new, permissionless and high-speed layer-1 blockchain. Created in 2017 by Anatoly Yakovenko, a former executive at Qualcomm, Solana aims to scale throughput beyond what is typically achieved by popular blockchains while keeping costs low." data-original-title="Default tooltip">Solana</a>. Solana has
              made a significant change in the market recently and a serious competitor in the ranks of bitcoin and ethereum!
              </p> <img src="https://vectorlogo4u.com/wp-content/uploads/2021/09/solana-logo-vector-01-1024x484.png" alt="coin" style="width: 86px;display: inline;margin-right: 0px;margin-left: 215px;margin-top: -220px;">

            </div>
          <div class="dashboard-small-cards">
              <h2>ACTIVE HOLDINGS (<%= @active_holdings.count %>)</h2>
              <div class="small-card-body">
              <p>You've spent <br>£ <%= number_with_precision(@active_holdings.sum(&:purchased_price), :precision => 2, :delimiter => ',') %></p>
              <% if @active_holdings_value > @active_holdings.sum(&:purchased_price) %>
                <p style='color: green'>Current return <br>£ <%= number_with_precision(@active_holdings_value, :precision => 2, :delimiter => ',') %></p>
              <% elsif @active_holdings_value < @active_holdings.sum(&:purchased_price) %>
                <p style='color: red'>Current return <br>£ <%= number_with_precision(@active_holdings_value, :precision => 2, :delimiter => ',') %></p>
              <% else %>
                <p>Current return<br>£ <%= number_with_precision(@active_holdings_value, :precision => 2, :delimiter => ',') %></p>
              <% end %>
              </div>
            </div>
            <div class="dashboard-small-cards">
              <h2>SOLD HOLDINGS (<%= @sold_holdings.count %>)</h2>
              <div class="small-card-body">
              <% sum_spent = (@sold_holdings.sum(&:purchased_price) + @active_holdings.sum(&:purchased_price))%>
              <p>You've spent <br>£ <%= number_with_precision(sum_spent, :precision => 2, :delimiter => ',') %></p>
              <p>You've sold <br>£ <%= number_with_precision(@sold_holdings_value, :precision => 2, :delimiter => ',') %></p>
              <% total_return = @sold_holdings_value - sum_spent %>
              <% if total_return.positive? || total_return == 0 %>
                <p style='color: green'>Return <br>£ <%= number_with_precision(total_return, :precision => 2, :delimiter => ',') %></p>
              <% else %>
                <p style='color: red'>Return <br>£ <%= number_with_precision(total_return, :precision => 2, :delimiter => ',') %></p>
              <% end %>
              </div>
            </div>
          </div>
      </div>
        <div class="dashboard-holding-card">
          <h2>YOUR PORTFOLIO</h2>
          <% if @active_holdings.count == 0 %>
            <p>You don't have any active holdings at the moment. Choose a coin to invest in!</p>
            <%= link_to "Browse cryptos", cryptos_path, class: "sell-btn-filled" %>
          <% else %>
            <table class='table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Purchased for</th>
                <th>Worth today</th>
                <th>Current return</th>
                <th>24hr change (%)</th>
                <th>Length of holding</th>
                <th>Graph</th>
                <th></th>
                <%# <th>7 day chart</th> %>
              </tr>
            </thead>
            <tbody data-controller="clickableindex">
              <%@active_holdings.each do |holding| %>
                <tr data-link="<%=crypto_path(holding.crypto)%>" data-clickableindex-target="cryptos" data-action="click->clickableindex#clickable" class = "clicking">
                  <td>
                    <%= link_to(image_tag(holding.crypto.image), crypto_path(holding.crypto),class: "crypto-image")%> <%=holding.crypto.name%>
                  </td>
                  <td>
                    <%= holding.quantity %>
                  </td>
                  <td>
                    £<%= number_with_precision(holding.purchased_price, :precision => 2, :delimiter => ',') %>
                  </td>
                  <td style="background-color:#D3D3D3">
                    £<%= number_with_precision((holding.crypto.price * holding.quantity), :precision => 2, :delimiter => ',') %>
                  </td>
                  <% current_return = ((holding.crypto.price * holding.quantity) - holding.purchased_price) %>
                  <% if (current_return < 0)  %>
                    <td style="color:red">
                  <% else %>
                    <td style="color:green">
                  <% end %>
                  £<%= number_with_precision(current_return, :precision => 2, :delimiter => ',') %>
                  </td>
                  <td>
                  <% if holding.crypto.previousdaypercentagechange.negative?() %>
                    <div class = "red-font">
                      <%= number_with_precision(holding.crypto.previousdaypercentagechange, :precision => 2, :delimiter => ',') %>%
                    </div>
                  <% else %>
                    <div class = "green-font">
                      +<%= number_with_precision(holding.crypto.previousdaypercentagechange, :precision => 2, :delimiter => ',')%>%
                    </div>
                  <% end %>
                  </td>
                    <td>
                    <%if ((current_user.simulation_date - holding.purchased_date).to_i)/86400 == 1%>
                      1 day
                    <% else %>
                      <%= ((current_user.simulation_date - holding.purchased_date).to_i)/86400%> days
                    <% end  %>
                  </td>
                  <td>
                    <% @price_data = holding.crypto.histories.where('date <= ?', current_user.simulation_date).map do |price| %>
                    <% [price.date, price.price] %>
                  <% end %>
                  <div>
                    <%= line_chart @price_data, library: { vAxis: { baselineColor: '#FFFFFF', ticks: [] },
            hAxis: { ticks: [], baselineColor: '#FFFFFF', gridlines: { count: 0, color: 'white' }, textPosition: 'none' } }, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "60px", width: "300px", xmin: holding.purchased_date, xmax: current_user.simulation_date %>
                  </div>
                </td>
                <td>
                  <%= simple_form_for [ holding ] do |f| %>
                      <div>
                        <%# <%= f.input :quantity, input_html: {data: {action: "keyup->purchase-modal#calculatePrice", purchase_modal_target: "quantity"}} %>
                        <%= f.submit "Sell for £#{number_with_precision((holding.crypto.histories.find_by(date: current_user.simulation_date).price * holding.quantity), :precision => 2, :delimiter => ',')}", class: "sell-btn-filled"%>
                      </div>
                    <% end %>
                  <%# <div class="buy-button" data-controller="purchase-modal">
                    <div>
                      <button id="mySellBtn" type="button" class="buy-btn-filled"> Sell </button>
                    </div> %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="dashboard-holding-card">
      <h2>SOLD HOLDINGS</h2>
        <% if @sold_holdings.count == 0 %>
          <p>You haven't sold any cryptos yet.</p>
          <p>When you do, they'll appear here.</p>
        <% else %>
          <table class='table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Purchased for</th>
                <th>Sold for</th>
                <th>Return</th>
                <th>Length of holding</th>
                <th><span class="white-space">aaaaaaaaaaa</span>Graph<span class="white-space">aaaaaaaaaaa</span></th>
                <%# <th>7 day chart</th> %>
              </tr>
            </thead>
            <tbody data-controller="clickableindex" style="padding: 0;">
              <%@sold_holdings.each do |holding| %>
                <tr data-link="<%=crypto_path(holding.crypto)%>" data-clickableindex-target="cryptos" data-action="click->clickableindex#clickable" class = "clicking">
                  <td>
                    <%= link_to(image_tag(holding.crypto.image), crypto_path(holding.crypto),class: "crypto-image")%> <%=holding.crypto.name%>
                  </td>
                  <td>
                    <%= holding.quantity %>
                  </td>
                  <td>
                    £<%= number_with_precision(holding.purchased_price, :precision => 2, :delimiter => ',') %>
                  </td>
                  <td style="background-color:#D3D3D3">
                    £<%= number_with_precision((holding.sold_price), :precision => 2, :delimiter => ',') %>
                  </td>
                    <% sold_return = (holding.sold_price - holding.purchased_price) %>
                    <% if (sold_return < 0)  %>
                    <td style="color:red">
                  <% else %>
                    <td style="color:green">
                  <% end %>
                  £<%= number_with_precision(sold_return, :precision => 2, :delimiter => ',') %>
                  </td>
                  <td>
                    <%if ((holding.sold_date - holding.purchased_date).to_i)/86400 == 1%>
                      1 day
                    <% else %>
                      <%= ((holding.sold_date - holding.purchased_date).to_i)/86400%> days
                    <% end  %>
                  </td>
                  <td class="graph-td">
                    <% @price_data = holding.crypto.histories.where('date <= ?', current_user.simulation_date).map do |price| %>
                      <% [price.date, price.price] %>
                      <% end %>
                    <div class="graph-img-dashboard">
                      <%= line_chart @price_data, library: { vAxis: { baselineColor: '#FFFFFF', ticks: [] },
                      hAxis: { ticks: [], baselineColor: '#FFFFFF', gridlines: { count: 0, color: 'white' }, textPosition: 'none' } }, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "60px", width: "300px", xmin: holding.purchased_date, xmax: current_user.simulation_date %>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      </div>
      </div>
    </div>
    <% else %>
      <div class="center">
        <h2 id="no-holdings-card">You don't have any holdings yet. <br>
          Hit <%= link_to 'Browse', cryptos_path, id:'dashboard-btn'%> to get started!
        </h2>
      </div>
    <% end %>
    </div>
  </div>
<%# </div> %>
