<html>
  <%# TITLE %>
  <body>
  <div class="banner-articles">
    <div class="main-title">
      <H1><b>DASHBOARD</b></H1>
      <div class='date-navigation'>
        <h4>
          <%= current_user.simulation_date.strftime('%d/%m/%Y') %>
        </h4>

          <%= link_to '1 Day >', change_simulation_path(current_user), class:'btn btn-primary', id:'date-sim-btn' %>
          <%= link_to '7 Days >>', change_simulation_week_path(current_user), class:'btn btn-primary', id:'date-sim-btn' %>

      </div>
    </div>
  </div>

<div class="main-container centered col-8 m-auto">
  <div class="dashboard-cards">
    <%# <div class="dashboard-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"> %>
    <div class="dashboard-card">
      Holdings
      <p>Purchased Value: <br>£ <%= '%.2f' % @holdings.sum(&:purchased_price) %></p>
      <% if @holdings_value > @holdings.sum(&:purchased_price) %>
                            <p style='color: green'>Current Value: <br>£ <%= '%.2f' % @holdings_value %></p>
                          <% elsif @holdings_value < @holdings.sum(&:purchased_price) %>
                            <p style='color: red'>Current Value: <br>£ <%= '%.2f' % @holdings_value %></p>
                          <% else %>
                            <p>Current Value: <br>£ <%= '%.2f' % @holdings_value %></p>
                          <% end %>
    </div>

    <div class="dashboard-card" >
      holdings
      <%# <div class= "container centered col-8 m-auto"> %>
        <table class='table', style="float:left">
          <thead>
            <tr>
            <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>24hr change (%)</th>
              <th>Graph</th>
              <th>Watchlist</th>
              <%# <th>7 day chart</th> %>
            </tr>
          </thead>
          <tbody data-controller="clickableindex">
            <%counter = 0 %>
            <%@holdings.each do |holding| %>
              <!-- The Modal -->
              <div id="mySellModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <div class="title-exchange">
                    <h4>Sell <%= holding.crypto.name%></h4>
                    <p>1 <%= holding.crypto.name %> = £<strong data-purchase-modal-target="price"><%= '%.2f' % holding.crypto.histories.find_by(date: current_user.simulation_date).price %></strong></p>
                    <p>You have <strong data-purchase-modal-target="balance"><%= '%.2f' % current_user.balance %></strong> <% holding.crypto.name %><p>
                    <p>Please select the number of <%= holding.crypto.name %> you'd like to sell</p>
                  </div>
                  <%= simple_form_for [ holding.crypto ] do |f| %>
                    <div>
                      <%# <%= f.input :quantity, input_html: {data: {action: "keyup->purchase-modal#calculatePrice", purchase_modal_target: "quantity"}} %>
                      <%= f.submit 'Confirm Sell', class: "buy-button banner-btn", method: :patch %>
                    </div>
                  <% end %>
                  <br>
                  <p data-purchase-modal-target="pounds" data-price="<%= '%.2f' % holding.crypto.histories.find_by(date: current_user.simulation_date).price %>" id="pounds">You're spending £0.00</p>
                </div>
              </div>
              <tr data-link="<%=crypto_path(holding.crypto)%>" data-clickableindex-target="cryptos" data-action="click->clickableindex#clickable" class = "clicking">
              <td>  <%=counter += 1%></td>
                <td>
                  <%= link_to(image_tag(holding.crypto.image), crypto_path(holding.crypto),class: "crypto-image")%> <%=holding.crypto.name%>
                </td>
                <td>
                  £<%= number_with_precision(holding.crypto.price, :precision => 2, :delimiter => ',') %>
                </td>
                <td>
                <% if holding.crypto.previousdaypercentagechange.negative?() %>
                  <div class = "red-font">
                    <%= '%.2f' % holding.crypto.previousdaypercentagechange %>
                  </div>
                <% else %>
                  <div class = "green-font">
                    +<%= '%.2f' % holding.crypto.previousdaypercentagechange%>
                  </div>
                <% end %>
                </td>
                  <td>
                <% @price_data = holding.crypto.histories.map do |price| %>
                  <% [price.date, price.price] %>
                <% end %>
                <div class="rounded">
                  <%= line_chart @price_data, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "100px" %>
                </div>
              </td>
              <td>
                <div class="buy-button" data-controller="purchase-modal">
                  <div>
                    <button id="mySellBtn" type="button" class="buy-btn-filled"> Sell </button>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      <%# </div> %>
    </div>
    <div class="dashboard-card" >
      balance
          £<%= '%.2f' % current_user.balance %>
    </div>
    <div class="dashboard-card">
      Graph
    </div>
    <div class="dashboard-card">
      Coin of the month
    </div>
    <div class="dashboard-card">
      recent purchase
    </div>
  </div>
</div>
