<nav class="menu">
  <div class="options">
    <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to 'Home', root_path%>
        </li>
        <li>
          <%= link_to 'Dashboard', my_dashboard_path%>
        </li>
        <li>
          <%= link_to 'Watchlist', watchlists_path%>
        </li>
        <li>
          <%= link_to 'Browse Cryptos', cryptos_path%>
        </li>
        <li>
          <%= link_to 'Learn More', articles_path%>
        </li>
        <li>
          <img class="avatar-bordered nav-avatar" alt="avatar" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1610312873/fuotzoy9lzmv0rppau6j.jpg" />
        </li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <ul style="height: 25px">
        <li style="margin-right:20px">
          <h6><strong>Simulation Date: <%= current_user.simulation_date.strftime('%d/%m/%Y') %></strong></h6>
        </li>
        <li>
          <%= link_to '+1 Day', change_simulation_path(current_user), style:'color:#FF840A', id:'date-sim-btn' %>
        </li>
        <li>
          <h6>|</h6>
        </li>
        <li>
          <%= link_to '+7 Days', change_simulation_week_path(current_user), style:'color:#FF840A', id:'date-sim-btn' %>
        </li>
        <li style="margin-left:20px">
          <h6 style="color:#FF840A">Balance: £<%= number_with_precision(current_user.balance, :precision => 2, :delimiter => ',') %></h6>
        </li>
      </ul>
    <% else %>
    <% end %>
  </div>
</nav>

<%# render different options depending whether user signed in %>
