<nav class="menu">
  <div class="options">
    <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Dashboard', my_dashboard_path %>
      </li>
      <li>
        <%= link_to 'Browse', cryptos_path %>
      </li>
      <li>
        <%= link_to 'Learn More', articles_path %>
      </li>
      <li>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </li>
    </ul>
    <% else %>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path, class: "" %>
      </li>
      <li>
        <%= link_to 'Sign In', new_user_session_path, class: "" %>
      </li>
      <li>
        <%= link_to 'Learn More', articles_path, class: "" %>
      </li>
    <% end %>
  </div>
</nav>

<div class="banner">
  <div class="banner-info-container">
    <div class="banner-title">
      <%= cl_image_tag("https://res.cloudinary.com/domtywpyc/image/upload/v1646143122/mvm0isuwrx6vyrvhz1rn.png",
      class: "coin-img", width: 100, height: 100, crop: :fill) %>
      <h1><strong>Cryptaul.</strong></h1>
    </div>
    <div class="banner-subs">
      <h3>The investment playground for <br>crypto newbies</h3>
      <br>

      <div class="banner-buttons">
        <%= link_to 'Learn More', articles_path, class: "banner-btn" %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "banner-btn" %>
      </div>
    </div>
  </div>
</div>


<div class="landing-main center">
  <div data-aos="fade-up" class="landing-info-container">
    <div class="more-info">
      <h2>What is Cryptaul?</h2>
      <br>
      <p>We've all heard the hype around crypto. But what <em>is</em> crypto, and how do I get involved?<br>
      Many of us want to find out, but don't want to gamble away our hard-earned cash in this famously unpredictable market. <br><br>
      <strong style="color: #EE841C"> Cryptaul</strong> is a first-of-it's-kind service which simulates the world of cryptocurrency investment. <br>Here, you'll find clear answers to all of your questions and can get started right away by investing in our playground environment - no payment required!<br><br></p>
      <%= cl_image_tag("https://res.cloudinary.com/domtywpyc/image/upload/v1646218834/he0h1s8tdrxfh2dpsvaq.jpg",
       class: "crypto-female") %>
    </div>
  </div>

  <div data-aos="fade-up" class="landing-info-container">
    <div class="features-container">
      <div class="feature-card">
        <%= cl_image_tag("https://res.cloudinary.com/domtywpyc/image/upload/v1646215620/ed9wvp3mcgfcnwkfjlj2.svg",
        class: "feature-illustration", width: 150, height: 150) %>
        <h2><%= link_to 'Browse', cryptos_path, class: "h2" %></h2>
        <p>Take a look around! We want to make the world of crypto investment less intimidating... and more fun!</p>
      </div>
      <div class="feature-card">
        <%= cl_image_tag("https://res.cloudinary.com/domtywpyc/image/upload/v1646215613/dr6ympijtc9ywkmpaaw0.svg",
        class: "feature-illustration", width: 150, height: 150) %>
        <h2><%= link_to 'Learn', articles_path, class: "h2" %></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, maxime aspernatur beatae accusamus laudantium officiis! Necessitatibus sed sequi harum ducimus maiores maxime, nobis voluptate voluptatibus? Neque tempora esse qui. Possimus?</p>
      </div>
      <div class="feature-card">
        <%= cl_image_tag("https://res.cloudinary.com/domtywpyc/image/upload/v1646215626/uuigmxv4a9ubrppjniws.svg",
        class: "feature-illustration", width: 150, height: 150) %>
        <h2><%= link_to 'Sign Up', new_user_registration_path, class: "h2" %></h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, maxime aspernatur beatae accusamus laudantium officiis! Necessitatibus sed sequi harum ducimus maiores maxime, nobis voluptate voluptatibus? Neque tempora esse qui. Possimus?</p>
      </div>
    </div>
  </div>

  <div data-aos="fade-up" class="landing-info-container">
    <div class="team-info">
      <h2>Meet The Team</h2>
      <div class="members-container">
        <a href="https://github.com/solkarim91" target="_blank" class="member-card">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/solkarim91" />
            <h5>Solomon</h5>
            <ul>
              <li>📍 London</li>
            </ul>
            <p><em>"Originally from the North-East. <br>I recently made the switch to coding from a background in telecommunications & never looked back!"</em></p>
        </a>
        <a href="https://github.com/britishninja47" target="_blank" class="member-card">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/britishninja47" />
            <h5>Jeremiah</h5>
            <ul>
              <li>📍 London</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quos commodi</p>
        </a>
        <a href="https://github.com/taramacu" target="_blank" class="member-card">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/taramacu" />
            <h5>Tara</h5>
            <ul>
              <li>📍 London</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quos commodi</p>
        </a>
        <a href="https://github.com/awar7118" target="_blank" class="member-card">
          <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/awar7118" />
            <h5>Ahmed</h5>
            <ul>
              <li>📍 London</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis quos commodi</p>
        </a>
      </div>
    </div>
  </div>


<div data-controller="hello">
<%# Testing %>

</div>
