  <div class="banner-articles">
    <div class="main-title">
      <h1>Crypto Stats</h1>
    </div>
  </div>

<div class= "container centered col-8 m-auto">
  <table class='table', style="float:left mb-10">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>24hr Change</th>
        <th>Graph</th>
        <th>Watchlist</th>
        <%# <th>7 day chart</th> %>
      </tr>
    </thead>
    <tbody data-controller="clickableindex">
      <tr>   </tr>
      <%counter = 0 %>
      <%@cryptos.each do |crypto| %>
        <tr data-link="<%=crypto_path(crypto)%>" data-clickableindex-target="cryptos" data-action="click->clickableindex#clickable" class = "clicking">
        <td>  <%=counter += 1%></td>
          <td>
            <%= link_to(image_tag(crypto.image), crypto_path(crypto),class: "crypto-image")%> <%=crypto.name%>
          </td>
          <td>
            £<%= number_with_precision(crypto.price, :precision => 2, :delimiter => ',') %>
          </td>
          <td>
          <% if crypto.previousdaypercentagechange.negative?() %>
            <div class = "red-font">
              <%= '%.2f' % crypto.previousdaypercentagechange %>
            </div>
          <% else %>
            <div class = "green-font">
              +<%= '%.2f' % crypto.previousdaypercentagechange%>
            </div>
          <% end %>
          </td>
          <td>
            <% @price_data = crypto.histories.where('date <= ?', current_user.simulation_date).map do |price| %>
              <% [price.date, price.price] %>
            <% end %>
            <div class="rounded">
              <%= line_chart @price_data, points: false, colors: ['#EE841C'], height: "100px" %>
            </div>
          </td>
          <td>
             <% if crypto.watchlists.count > 0 %>
              <%= link_to watchlist_path(crypto.watchlists.first), method: :delete do %>
                <i class="fas fa-heart" style="font-size:25px; color: red;"></i>
               <% end %>
            <% else %>
             <%= simple_form_for [ crypto, @watchlist ] do |f| %>

            <button name="button" type="submit" style="border: none;background: none;">
              <i class="far fa-heart" style="font-size:25px; color: red;"></i>
            </button>
            <% end %>
            <% end %>
          </td>
        </tr>
     <% end %>
    </tbody>
  </table>
</div>
