  <div class="banner-articles">
    <div class="main-title">
      <h1>CRYPTO STATS</h1>
        <div class='date-navigation'>
          <h4>
            <%= current_user.simulation_date.strftime('%d/%m/%Y') %>
          </h4>
        <%= link_to 'Advance 1 Day >', change_simulation_index_path(current_user), class:'btn btn-primary' %>
        <%= link_to 'Advance 7 Days >', change_simulation_week_index_path(current_user), class:'btn btn-primary' %>
      </div>
    </div>
  </div>

<div class= "container centered col-8 m-auto">
  <table class='table'>
    <thead>
      <tr>
      <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>24hr change (%)</th>
        <th>Graph</th>
        <%# <th>7 day chart</th> %>
      </tr>
    </thead>
    <tbody>
      <%counter = 0 %>
      <%@cryptos.each do |crypto| %>
        <tr>
        <td>  <%=counter += 1%></td>
          <td>
            <%= link_to(image_tag(crypto.image), crypto_path(crypto),class: "crypto-image")%> <%=crypto.name%>
          </td>
          <td>
            £<%= '%.2f' % crypto.price || 'N/A' %>
          </td>
          <td>
          <% if crypto.previousdaypercentagechange.negative?() %>
            <div class = "red-font">
              <%= '%.2f' % crypto.previousdaypercentagechange %>
            </div>
          <% else %>
            <div class = "green-font">
              +<%= '%.2f' % crypto.previousdaypercentagechange%>
            </div>
          <% end %>
          </td>
          <td>
            <% @price_data = crypto.histories.map do |price| %>
              <% [price.date, price.price] %>
            <% end %>
            <div class="rounded">
              <%= line_chart @price_data, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "100px" %>
            </div>
          </td>
        </tr>
     <% end %>
    </tbody>
  </table>
</div>
