<div class="product-container ">
  <div class="container product-graph">Graph in here</div>
  <div class="container product-exchange">Current exchange rate</div>

  <div class="product-info">
    <div class="accordion">
      <div data-controller="accordion" class="container product-about product-border-top">
        <h5 class="">
          <button class="btn btn-link" data-action="click->accordion#expand">
            About
          </button>
        </h5>
        <div class="collapse" data-accordion-target="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div data-controller ="accordion" class="container product-stats product-border-top">
        <h5 class="">
          <button class="btn btn-link" data-action="click->accordion#expand">
            Stats
          </button>
        </h5>
        <div class="collapse" data-accordion-target="content">
          <ul>
            <li>Stat 1</li>
            <li>Stat 2</li>
            <li>Stat 3</li>
            <li>Stat 4</li>
            <li>Stat 5</li>
            <li>Stat 6</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%# Container for purchase area %>
  <div class="sticky" data-purchase-modal-target="modal" data-controller="purchase-modal">
    <%# Container for pre-buy %>
    <div class="container product-action" data-purchase-modal-target="purchase">
      <div class="title-watchlist">
        <div class="title">
          <h4><%= @crypto.name%></h4>
        </div>
        <div class="watchlist">
          <i class="fa-solid fa-star fa-lg"></i>
        </div>
      </div>
      <div class="buy-button">
        <button type="button" class="btn btn-primary" data-action="click->purchase-modal#expand"> Buy </button>
      </div>
    </div>
    <%# Container for purchase-options %>
    <div data-purchase-modal-target="purchase" class="container purchase-modal collapse">
      <div class="crypto-info">
        <div class="title-exchange">
          <h4>Buy <%= @crypto.name%></h4>
          <p>1 <%= @crypto.name %> = £<%= @crypto.histories.last.price.round(2) %></p>
          <p>Please select the amount you'd like to purchase</p>
        </div>
        <div class="amounts">
              <%= simple_form_for [ @crypto, @holding ] do |f| %>
                <div>
                  <%= f.input :quantity %>
                  <%= f.submit 'Confirm Purchase', class: "buy-button btn btn-primary" %>
                </div>
              <% end %>

          <form action="#">
            <label for="amount">Amount in £</label><br>
            <input type="text" id="amount" name="amount"><br>
            <input class="buy-button btn btn-primary" type="submit" value="Confirm purchase">
          </form>
        </div>
        </div>
    </div>
  <%# <div class="container product-similar">Optional similar or recommended coins</div> %>
</div>
