<div class="container page-container">
  <div class="container graph-purchase-container">
    <div class="product-graph rounded">
      <%= line_chart @price_data, points: false, prefix: "£", round: 2, zeros: true, colors: ['#EE841C'], height: "400px" %>
    </div>
    <%# <div class="container product-exchange rounded">Current exchange rate</div> %>
    <div class="purchase-container rounded">
      <%# Container for purchase area %>
      <div class="sticky" data-purchase-modal-target="modal" data-controller="purchase-modal">
      <!-- The Modal -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="title-exchange">
              <h4>Buy <%= @crypto.name%></h4>
              <p>1 <%= @crypto.name %> = £<strong data-purchase-modal-target="price"><%= '%.2f' % @crypto.histories.find_by(date: current_user.simulation_date).price %></strong></p>
              <p>Your balance is £<strong data-purchase-modal-target="balance"><%= '%.2f' % current_user.balance %></strong><p>
              <p>Please select the number of <%= @crypto.name %> you'd like to purchase</p>
            </div>
            <%= simple_form_for [ @crypto, @holding ] do |f| %>
              <div>
                <%= f.input :quantity, input_html: {data: {action: "change->purchase-modal#calculatePrice", purchase_modal_target: "quantity"}} %>
                <%= f.submit 'Confirm Purchase', class: "buy-button banner-btn" %>
              </div>
            <% end %>
            <br>
            <p data-purchase-modal-target="pounds" data-price="<%= '%.2f' % @crypto.histories.find_by(date: current_user.simulation_date).price %>" id="pounds">You're spending £0.00</p>
          </div>
        </div>
        <%# Container for pre-buy %>
        <div class="container product-action rounded" data-purchase-modal-target="purchase">
          <div class="title-watchlist">
            <div class="title">
              <h4>
                <%= @crypto.name %> <br> <%= current_user.simulation_date.strftime('%d/%m/%Y') %>
              </h4>
            </div>
            <%# <div class="watchlist">
              <i class="fa-solid fa-star fa-lg"></i>
            </div> %>
          </div>
          <div class="center">
            <%= link_to '1 Day >', change_simulation_show_path(current_user), class:'btn btn-primary', id:'date-sim-show' %>
            <%= link_to '7 Days >', change_simulation_week_show_path(current_user), class:'btn btn-primary', id:'date-sim-show'%>
            <br><br>
            <img class="rounded-circle"src="<%= @crypto.image %>" height="100px">
            <br><br>
          </div>
            <p class="center">1 <%= @crypto.name %> = £<%= '%.2f' % @crypto.histories.find_by(date: current_user.simulation_date).price %></p>
          <div class="buy-button center">
            <div>
              <button id="myBtn" type="button" class="buy-btn-filled" data-action="click->purchase-modal#expand" > Buy </button>
            </div>

            <%# <% if current_user.watchlists.where(crypto_id: @crypto.id).count != 0 %>
             <%# <i class="fas fa-heart" style="font-size:30px"></i> %>
            <%# <% else  %>
            <%# <i class="far fa-heart" style="font-size:30px"></i> %>

            <% if @crypto.watchlists.count > 0 %>
              <%= link_to 'Remove from watchlist', watchlist_path(@crypto.watchlists.first), method: :delete, class: "add-wl-btn"%>
            <% else %>
              <%= simple_form_for [ @crypto, @watchlist ] do |f| %>
                <div>
                  <%= f.submit 'Add to watchlist', class: "add-wl-btn" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
<div>
  <div class="container product-info-container" data-controller="accordion">
    <div class="" data-accordion-target="content">
      <h4 class="">About</h4>
      <p><%= @crypto.name.capitalize %> is a decentralized blockchain platform that establishes a peer-to-peer network that securely executes and verifies application code, called smart contracts. Smart contracts allow participants to transact with each other without a trusted central authority.<br><br>By mining, you can earn cryptocurrency without having to put down money for it. Bitcoin miners receive bitcoin as a reward for completing "blocks" of verified transactions, which are added to the blockchain.<br><br>Each Bitcoin is basically a computer file which is stored in a 'digital wallet' app on a smartphone or computer. People can send Bitcoins (or part of one) to your digital wallet, and you can send Bitcoins to other people. Every single transaction is recorded in a public list called the blockchain. This makes it possible to trace the history of Bitcoins to stop people from spending coins they do not own, making copies or undo-ing transactions.</p>
    </div>
  </div>
</div>