<!DOCTYPE html>
<html>
  <head>
    <title>Cryptaul - Investment Playground</title>
    <script src="https://kit.fontawesome.com/5ecccf8b94.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <div class="flex-wrapper">
      <div>
        <% unless request.path == '/' %>
          <%= render 'shared/navbar' %>
        <% end %>

        <%= render 'shared/flashes' %>

        <%= yield %>
      </div>

      <div class="footer">
        <%= render 'shared/footer' %>
      </div>

      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
    </div>
  </body>

</html>
